@use '../app/globals.scss';

.receipt-list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
  position: relative;
  z-index: 1;
}

.receipt {
  display: flex;
  padding: 16px 20px;
  gap: 16px;
  align-items: center;
  @include globals.theme-font;
  @include globals.box(true);
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.2s;

  &:not(:has(.delete-btn:hover)) {
    @include globals.clickable();
  }

  .receipt-icon {
    font-size: 48px;
  }

  .delete-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    @include globals.clickable(0.6, 0.4);
    > * { pointer-events: none; }
  }

  .receipt-details {
    display: flex;
    flex-direction: column;
    margin-block: -12px;
    padding-bottom: 12px;
    font-size: 16px;
    width: 100%;
  }
  .receipt-name {
    font-size: 24px;
    margin-bottom: -4px;
  }
  &.new-receipt {
    background-color: transparent;
    box-shadow: none;
    border: 3px dashed white;
    @include globals.clickable(0.7);
  }
  .new-btn {
    background: none;
    border: 2px;
    color: white;
    font-size: 28px;
    font-weight: 900;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
    span { margin-top: -8px; }

    @include globals.theme-font;
  }
}
