@use '../app/globals.scss';

.receipt-list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
}

.receipt {
  display: flex;
  padding: 16px 20px;
  gap: 16px;
  align-items: center;
  @include globals.theme-font;
  @include globals.box(true);

  .receipt-icon {
    font-size: 48px;
  }
  
  .delete-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    @include globals.clickable;
  }

  .receipt-details {
    display: flex;
    flex-direction: column;
    margin-block: -12px;
    padding-bottom: 12px;
    font-size: 16px;
    width: 100%;
  }
  .receipt-name {
    font-size: 24px;
    margin-bottom: -4px;
  }
}
